# Versions specified here are development versions
# See also .gitlab-ci.yml file for production versions
golang 1.22.3 1.21.10
golangci-lint 1.58.1
hugo extended_0.126.1
nodejs 20.13.1
shellcheck 0.10.0
yq 4.44.1
