# Versions specified here are development versions
# See also .gitlab-ci.yml file for production versions
golang 1.21.6 1.20.13
golangci-lint 1.55.2
hugo extended_0.121.2
nodejs 20.11.0
shellcheck 0.9.0
yamllint 1.33.0
yq 4.40.5
