@import '../../../../node_modules/tocbot/dist/tocbot.css';
@import "tailwind";
@import "variables";
@import "typography";
@import "layout";

.placeholder {
  font-size: 0.75rem;
  font-style: italic;
}

/* Header */
a.header-logo:hover {
  text-decoration: none;
}
.border-light {
  border-color: rgba(255,255,255,.32) !important;
}
.cta-button {
  background-color: var(--cta-button);
  color: var(--white);
  padding: 0.5rem 0.75rem;
  line-height: 1rem;
  border-radius: 0.25rem;
  display: inline-flex;
}
.cta-button:hover {
  text-decoration: none;
  color: var(--white);
}
.skip-link {
  transition: opacity 0.2s linear;

  &:focus {
    background-color: var(--blue-600);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 4px;
    clip: auto;
    height: auto;
    opacity: 1;
    overflow: visible;
    padding: .5rem 1rem;
    position: fixed;
    left: 2px;
    text-align: center;
    white-space: normal;
    width: 15rem;
    z-index: 500;
  }
}

/* Global navigation */
.global-nav {
  top: var(--header-height);
  bottom: var(--sidebar-button-height);
  font-size: 0.8125rem; /* 13px */
  border-right: 1px solid var(--gray-50);
}
.sidebar-link {
  line-height: 1;
}
.sidebar-link:focus-visible {
  outline-offset: -1px;
}
.sidebar-link.level-1 {
  font-weight: 600;
  padding-left: 1rem;
}
.sidebar-link.level-2 {
  padding-left: calc(var(--sidebar-indent) * 2);
}
.sidebar-link.level-3 {
  padding-left: calc(var(--sidebar-indent) * 3);
}
.sidebar-link.level-4 {
  padding-left: calc(var(--sidebar-indent) * 4);
}
.sidebar-link.level-5 {
  padding-left: calc(var(--sidebar-indent) * 5);
}
.sidebar-link.level-6 {
  padding-left: calc(var(--sidebar-indent) * 6);
}
div:has(> .sidebar-link):hover {
  border-radius: 0.25rem;
  background-color: var(--gray-50);
}
.sidebar-link-active-item {
  background-color: var(--gray-50);
  position: relative;
}
.sidebar-link-active-item::before {
  background-color: var(--purple-900);
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  inset: 3px 0 3px 3px;
  width: 3px;
}
/* Section toggle */
.submenu-toggle.gl-button.btn-default,
.submenu-toggle.gl-button.btn-default:active,
.submenu-toggle.gl-button.btn-default:focus {
  background-color: transparent;
}
.submenu-toggle.gl-button.btn-default:focus-visible {
  outline: auto 1px;
}
.submenu {
  overflow: hidden;
}
.submenu-enter-active,
.submenu-leave-active {
  transition: max-height 0.3s ease-out;
  max-height: 100vh;
}
.submenu-enter,
.submenu-leave-to {
  max-height: 0;
}
/* Sidebar collapse */
.sidebar-container:has(.sidebar-collapsed) {
  border-right: 1px solid var(--gray-50);
}
.sidebar-toggle {
  height: var(--sidebar-button-height);
  border: 1px solid var(--gray-50);
  border-style: solid solid none none;
}
.sidebar-collapsed,
.sidebar-collapsed .sidebar-toggle {
  width: var(--sidebar-collapsed-width);
}
.sidebar-collapsed .sidebar-toggle > div {
  justify-content: center;
}
.sidebar-collapsed .sidebar-toggle > div,
.sidebar-collapsed .sidebar-toggle svg {
  margin-left: 0;
}
.sidebar-toggle .gl-button.btn-default,
.sidebar-toggle .gl-button.btn-default:active {
  background-color: transparent;
}
.sidebar-toggle-collapsed.gl-button .gl-button-icon {
  margin-right: 0;
}
/* Sidebar overlay (small width) */
.sidebar-overlay-open {
  z-index: 999;
  position: fixed;
  margin-left: -2rem;

  > div {
    background: var(--white);
    width: 75%;
    max-width: 25rem;
  }
}

/* Modal overlays */
.modal-backdrop {
  top: var(--header-height);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s linear;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Table of contents */
.js-toc {
  position: fixed;
}
.js-toc>.toc-list {
  overflow-y: auto;
  height: calc(100vh - var(--header-height));
  padding: var(--toc-y-offset) 1rem calc(var(--toc-y-offset)) 0;
}
.js-toc.is-position-fixed {
  top: var(--header-height);
}
.js-toc.is-position-fixed>.toc-list {
  padding: var(--toc-y-offset) 1rem var(--toc-y-offset) 0;
}
*:lang(en-US) {
  .js-toc>.toc-list::before {
    content: "On this page";
    font-weight: 600;
    font-size: 1rem;
  }
  .js-toc>.toc-list > li:first-child {
    margin-top: 0.75rem;
  }
}
.toc-list {
  line-height: 1.2;
  list-style-type: none;
  padding-right: 1rem;
}
.toc-link::before {
  background-color: var(--white);
  height: calc(100% - var(--toc-item-spacing));
}
a.toc-link {
 padding: 0 0 var(--toc-item-spacing) 0.75rem;
 display: inline-block;
 position: relative;
}
.is-active-link {
  font-weight: 600;
}
.is-active-link::before {
  background-color: var(--purple-900);
}

/**
 * Docs content
 */
div.docs-content {
  /* Links */
  a {
    color: var(--purple-700);
    border-bottom: 1px solid rgba(89,67,182,.24);
    transition: .15s linear, border-bottom-color .15s linear;
  }
  a:hover {
    color: var(--purple-900);
    border-bottom: 1px solid var(--purple-900);
    text-decoration: none;
  }
  a[href^="http"]:not([href*="gitlab.com"]):not([href*="docs.gitlab-review.app"])::after {
    content: url("../gitlab_ui/svgs/external-link.svg");
    margin-left: 0.25rem;
    display: inline-block;
    vertical-align: middle;
  }
  /* Permalinks */
  a.anchor {
    transition: all .3s;
    background: url("../gitlab_ui/svgs/link.svg") no-repeat;
    opacity: 0;
    width: 16px;
    height: 16px;
    transform: scale(1.5);
    margin-left: 0.5rem;
    border-bottom: 0;
    display: inline-block;
    vertical-align: middle;
  }
  a.anchor:hover {
    border-bottom: 0;
    opacity: 1;
  }

  /* Tables */
  table {
    font-size: 0.875rem;
    margin-bottom: 1.5em;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    line-height: 1.5;
    max-width: 100%;
    overflow: auto;

    thead tr {
      border-top: 0;
    }

    th {
      background-color: var(--white);
      color: var(--gray-950);
      line-height: 1.25;
      position: sticky;
      vertical-align: top;
      z-index: 1;
      top: var(--header-height);
    }

    th, td {
      padding: 1em;
    }

    tr {
      border-top: 1px solid var(--gray-50);
    }
    tr:last-child {
      border-bottom: 1px solid var(--gray-50);
    }

    td {
      vertical-align: top;
      max-width: 12rem;
      a {
        border-bottom: 0;
      }
    }
  }

  /* Code samples */
  .highlight {
    background-color: var(--gray-50);
  }
  pre {
    padding: 1rem 0.75rem;
  }
  *:not(pre)>code {
    background-color: var(--gray-50);
    color: var(--gray-900);
    border-radius: 4px;
    line-height: 1;
    overflow-wrap: break-word;
    padding: 2px;
  }
  a code {
    color: var(--purple-700);
  }
  a:hover code {
    background-color: var(--t-indigo-100);
  }

  /* Alert boxes */
  .alert {
    padding: 1rem 3rem;
    border-radius: 5px;
    border: solid 1px;
    background: 1rem 1.25rem no-repeat;
  }
  .alert-type-note {
    border-color: var(--gray-100);
    background-color: var(--gray-10);
    background-image: url("../gitlab_ui/svgs/information-o.svg");
  }
  .alert-type-warning {
    border-color: var(--red-100);
    background-color: var(--red-50);
    background-image: url("../gitlab_ui/svgs/warning.svg");
  }
  .alert-type-flag {
    border-color: var(--green-100);
    background-color: var(--green-50);
    background-image: url("../gitlab_ui/svgs/flag.svg");
  }
  .alert-type-disclaimer {
    border-color: var(--blue-100);
    background-color: var(--blue-50);
    background-image: url("../gitlab_ui/svgs/review-warning.svg");
  }

  /* Diagrams */
  .mermaid {
    overflow: auto;
    position: relative;
    z-index: 1;
  }
  .mermaid:not([data-processed='true']) {
    display: none;
  }  

  /* Other elements */
  li {
    margin-bottom: 0.5rem;
  }

  img {
    border: 1px solid var(--gray-100);
    border-radius: 0.5rem;
    padding: 0.25rem;
    max-width: 100%;
  }
}

/* Help & Feedback */
.help-feedback {
  background-color: var(--t-indigo-50);

  h2 {
    font-size: 1.067rem;
    font-weight: 700;
    margin: 0;
  }
  h3 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.75rem 0 0.25rem;
  }

  .feedback {
    flex: 0 0 60%;
  }
  .feedback p {
    margin-bottom: 0;
  }

  .gl-button:hover {
    border-bottom: 0;
  }
}

/* Footer */
ul.docs-footer-links a:hover,
.docs-footer-links-secondary a:hover {
  text-decoration: none;
  color: var(--gray-900);
}
.docs-footer-links-secondary a {
  color: var(--gray-500);
  padding-right: 1rem;
}
ul.docs-social a::before {
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  margin-left: 0.75rem;
  width: 18px;
  height: 18px;
}
/* FontAwesome social icons */
.twitter::before {
  background-image: url("../fa-icons/x-twitter.svg");
}
.facebook::before {
  background-image: url("../fa-icons/facebook.svg");
}
.linkedin::before {
  background-image: url("../fa-icons/linkedin.svg");
}
.youtube::before {
  background-image: url("../fa-icons/youtube.svg");
}
